@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bank Application</h1>
    <p>welcome to our bank application</p>
    <p><a href="http://localhost:5186/UserLogin/Login" class="btn btn-primary btn-md">Go to Login Page &raquo;</a></p>
</div>
